<!DOCTYPE html>
<html>
    <head>
        <title>Ask</title>
    </head>
    <body>
        <h2>Enter your ask:</h2>
        {% for e in form.non_field_errors %}
            <div>{{ e }}</div>
        {% endfor %}
        <form method="POST" action={{ action }}>
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    <div>
                        {% if field.errors %} has-error {% endif %}
                        <label>{{ field.label }}</label>
                        <div>{{ field }}</div>
                    </div>
                {% endfor %}
            </fieldset>
            <div>
                <button type="submit"> Save </button>
            </div>
        </form>
    </body>
</html>