<!DOCTYPE html>
<html>
    <head>
        <title>Popular question</title>
    </head>
    <body>
        <p>Popular:</p>
        {% for p in posts %}
        <h3>{{p.title}}</h3>
        {% endfor %}
        <p>Pages:</p>
        {% for p in paginator.page_range %}
            {% if p == page.number %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <h3>{{p.title}}</h3>
                <a href="{{ paginator.baseurl }}{{ p }}">
                {{ p }}</a>
            </li>
        {% endfor %}
    </body>
</html>